#clock {
    height: 100px;
    width: 300px;
    margin: auto;
    position: absolute;
    top: 0; right: 0;
    padding-top: 70px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: blue;
}

#date {
	height: 100px;
    width: 300px;
    margin: auto;
    position: absolute;
    margin-top: 25px;
    top: 0; right: 0;
    padding-top: 70px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
}		